.wrapper {
    background-color: orange;
    max-width: 600px;
    display: inline-block;
}

.list {
    list-style-type: none;
    margin-left: 150px;
    text-align: left;
}

.item {
    position: relative;
}

.icon {
    position: absolute;
    top: -5.7%;
    left: -11%;
    width: 26px;
    height: 26px;
    fill: white;
}

.text {
    padding: 0 40px;
}
.phone, .email, .map{
    /* text-decoration: none; */
    color: black;
}
/* ---------------------------- */
.contact_text {
    color: white;
    font-weight: 600;
    text-align: end;
    padding-right: 94px;
}
.svg {
    fill: orange;
    width: 20px;
    height: 20px;
}

.list_icons {
    display: flex;
    justify-content: end;
    margin-bottom: 45px;
    padding: 0px 40px;
    list-style-type: none;
}

.list_item {
    margin-left: 30px;
}

.list_link {
    background-color: white;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: ease;
    transition-delay: 0;
}
.list_link:hover,
.list_link:focus {
    background-color: black;
}