header, footer {
    padding: 10px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
}
.container {
    /* max-width: 900px; */
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px 24px;
    font-size: 25px;
    font-weight: 500;
    color: lightslategrey;
}
.link:hover {
    color: blueviolet;
    background-image: repeating-linear-gradient(to top, blueviolet 0px 0px, transparent 5px 50px);
}
main{
    min-height: 100vh;
}

