header {
    padding: 10px;
    text-align: center;
}
.container {
    max-width: 900px;
    padding: 10px;
    margin: 0 auto;
}
.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px 24px;
    font-size: 25px;
    font-weight: 500;
    color: lightslategrey;
}
.link:hover {
    color: blueviolet;
}
