.wrapper {
    text-align: center;
}
.input {
    font-size: 20px;
    height: 25px;
    border: 1px solid blue;
}
.modal{
    width: 600px;
    background-color: rgb(230, 243, 246);
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    border: 8px inset blue;
}
