.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.link {
  color: blue
}
.link:active {
  color: red;
  
}

/* .activeLink{
  text-decoration: none;
    color: pink;
    font-family: "Abril Fatface";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
} */